* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER AQUI */

header {
    background-color: black;
    display: flex;
    height: 74px;
}

.logo {
    width: 95px;
    height: 95px;
    position: absolute;
    left: 30px;
    top: -5px
}

.input-header {
    width: 328px;
    height: 38px;
    border-radius: 25px;
    background-color: white;
    border: none;
    color: #111111;
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    right: 192px;
    top: 16px;
}

.header-btninput {
    height: 30px;
    width: 61px;
    border-radius: 25px;
    position: absolute;
    background-color: #008cff;
    right: 195px;
    top: 20px
}

.avatarheader {
    width: 178px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


:root {
    --preto-opaco: rgba(0, 0, 0, 0.304);
    --preto: #000000;
    --branco: #FFFFFF;
    --azul-principal: #008CFF;
    --azul-claro: #E5F3FF;
    --azul-escuro: #00447C;
    --verde: #1AAC5F;
    --verde-claro: #D1FFE7;
}

.botao-pesquisar {
    background-color: var(--azul-principal);
    border: none;
    padding: 7px 24px;
    cursor: pointer;
    margin-left: -77px;
    border-radius: 25px;
}

.fa-magnifying-glass {
    color: var(--branco);
}

.fa-circle-user {
    color: var(--branco);
    font-size: 2.5rem;
    cursor: pointer;
}

.fa-user {
    font-size: 31px;
}

.fa-cart-shopping {
    font-size: 31px;
}

.fa-bag-shopping {
    font-size: 31px;
}

.fa-dollar-sign {
    font-size: 31px;
}

.pesquisa {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}

.barra-pesquisar {
    display: flex;
    height: 2.5rem;
    padding: 15px;
    width: 22rem;
    border-radius: 25px;
    border: none;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    gap: 35px;
    margin-right: 100px;
}


.banner {
    margin-top: 26px;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 1460px;
}

h1 {
    margin-top: 55px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.cards-container {
    display: none;
    margin-right: 75px;
    margin-left: 75px;
    gap: 30px;
    padding: 30px;
    border: 2px solid var(--preto-opaco);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.numero-info {
    font-weight: bold;
}

.icone {
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px solid var(--preto-opaco);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.informacoes {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    gap: 160px;
}

.negrito {
    font-weight: bold;
    color: var(--preto);
}

.info-segmento-usuarios {
    margin-left: 40px;
}

.info-segmento-vendas {
    margin-left: 50px;
}

.info-segmento-produtos {
    margin-left: 39px;
}

.info-segmento-cashback {
    margin-left: 32px;
}

.info-titulo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-titulo p {
    font-size: 25px;
}

.gerenciar {
    color: var(--azul-principal);
    font-weight: bold;
    cursor: pointer;
}

.botoes {
    display: none;
    margin-top: 23px;
    margin-bottom: 23px;
    justify-content: space-evenly;
}

.botao-gerenciar {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--branco);
    display: flex;
    gap: 10px;
    border: 2px solid var(--preto-opaco);
    padding: 15px 14px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--preto);
    align-items: center;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.botao-gerenciar i {
    color: var(--azul-principal);
}

.titulo {
    font-size: 33px;
    margin-bottom: 100px;
}

.capital {
    font-size: 45px;
    margin-bottom: -15px;
}

.div-azul {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    height: 194px;
    padding: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--azul-claro);
    box-shadow: 0 10px 20px rgb(123, 168, 204);

}

.titulo-historico {
    font-size: 30px;
}

.vendedores {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    gap: 12px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.tutorial {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid var(--preto-opaco);
}

.venda-linha {
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid var(--preto-opaco);
    border-top: 2px solid var(--preto-opaco);
}

td {
    padding: 5px;
    text-align: center;
    border-top: 2px solid var(--preto-opaco);
}

@media (max-width: 1440px) {
    .banner img {
        width: 1290px;
    }

    .botoes {
        justify-content: center;
        gap: 47px;
    }
}

@media (max-width: 1024px) {
    .banner img {
        width: 875px;
    }

    .informacoes {
        gap: 55px;
    }

    .botao-gerenciar {
        font-size: 15px;
    }

    .botoes {
        gap: 1px;
    }

    .graficos-container {
        flex-direction: column;
        align-items: center;
    }

    .info-vendedor {
        gap: 385px;
    }

    .grafico-pizza {
        width: 85%;
        height: auto;
        margin-left: 0;
    }

    .grafico-coluna {
        width: 85%;
        height: auto;
        margin-right: 0;
    }

}

@media (max-width: 768px) {
    .informacoes {
        flex-wrap: wrap;
        gap: 62px;
    }

    .banner img {
        width: 615px;
    }

    .botoes {
        flex-wrap: wrap;
        gap: 60px;
    }

    .botao-gerenciar {
        font-size: 20px;
    }

    .cards-container {
        display: flex;
        gap: 0px;
        align-items: center;
        flex-direction: column;
    }

    .grafico-pizza {
        width: 80%;
    }

    .grafico-coluna {
        width: 80%;
    }

    .info-vendedor {
        gap: 130px;
    }
}

@media (max-width: 426px) {
    .container {
        display: flex;
        gap: 35px;
        height: 5rem;
        margin-right: 100px;
        align-items: center;
    }

    .banner {
        display: none;
    }

    h1 {
        margin-left: 50px;
    }

    .botoes {
        gap: 20px;
    }

    .container {
        margin-right: 0px;
    }

    .barra-pesquisar {
        width: 20rem;
    }



    .cards-container {
        margin-left: 35px;
        margin-right: 35px;
    }

    .botao-gerenciar {
        padding: 15px 55px;
    }

    .div-azul {
        margin-left: 35px;
        margin-right: 35px;
        flex-direction: column;
        align-items: center;
    }
    
    .titulo {
        margin-bottom: 0;
    }

    #Pizza {
        width: 100% !important;
    }

    #Coluna {
        height: 100% !important;
    }

    .vendedores {
        margin-left: 35px;
        margin-right: 35px;
    }

    .vendedor-detalhes {
        flex-direction: column;
        align-items: center;
    }

    .info-vendedor {
        gap: 0;
        flex-direction: column;
    }

    .separacao-nome-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .capital {
        font-size: 30px;
    }
}

@media (max-width: 376px) {
    .barra-pesquisar {
        width: 16rem;
    }

    h1 {
        margin-left: -10px;
    }

    .cards-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .titulo {
        font-size: 25px;
    }

    .div-azul {
        margin-left: 15px;
        margin-right: 15px;
    }

    .vendedores {
        margin-left: 15px;
        margin-right: 15px;
    }

    .grafico-pizza {
        width: 90%;
    }

    .grafico-coluna {
        width: 90%;
    }
}

@media (max-width: 321px) {
    .botao-pesquisar {
        margin-left: -50px;
        padding: 7px 10px;
    }

    .barra-pesquisar {
        width: 15rem;
    }

    .container {
        gap: 20px;
    }

    .usuario {
        flex-direction: column;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botao-gerenciar {
        padding: 15px 30px;
    }

    h1 {
        font-size: 25px;
    }
}