* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


:root {
    --preto-opaco: rgba(0, 0, 0, 0.304);
    --preto: #000000;
    --branco: #FFFFFF;
    --azul-principal: #008CFF;
    --azul-claro: #E5F3FF;
    --azul-escuro: #00447C;
}

.botao-pesquisar {
    background-color: var(--azul-principal);
    border: none;
    padding: 7px 24px;
    cursor: pointer;
    margin-left: -77px;
    border-radius: 25px;
}

.fa-magnifying-glass {
    color: var(--branco);
}

.fa-circle-user {
    color: var(--branco);
    font-size: 2.5rem;
    cursor: pointer;
}

.fa-user {
    font-size: 31px;
}

.fa-cart-shopping {
    font-size: 31px;
}

.fa-bag-shopping {
    font-size: 31px;
}

.fa-dollar-sign {
    font-size: 31px;
}

.fa-plus {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--azul-claro);
    color: var(--azul-principal);
}

.fa-minus {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--azul-claro);
    color: var(--azul-principal);
}

.pesquisa {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}

.barra-pesquisar {
    display: flex;
    height: 2.5rem;
    padding: 15px;
    width: 22rem;
    border-radius: 25px;
    border: none;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    gap: 35px;
    margin-right: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto);
}

header img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-weight: 500;
    margin-top: -50px;
}

.compra-1 {
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
    gap: 50px;
}

.imagem {
    border-radius: 10px;
    border: 2px solid var(--preto-opaco);
    padding: 40px;
    display: flex;
    align-items: center;
}

.imagens {
    display: flex;
    margin-left: 130px;
    margin-top: 30px;
    gap: 30px;
}

.imagem-menor {
    padding: 5px;
    border: 2px solid var(--preto-opaco);
    border-radius: 10px;
}

.imagem-menor img {
    width: 105px;
}

.imagem-menor-azul {
    padding: 5px;
    border: 2px solid var(--azul-principal);
    border-radius: 10px;
}

.imagem-menor-azul img {
    width: 105px;
}

.imagem img {
    width: 480px;
}

.botao-compra {
    background-color: var(--azul-principal);
    padding: 5px;
    width: 700px;
    height: 85px;
    color: var(--branco);
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: 65px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botao-compra:hover {
    background-color: var(--azul-escuro);
}

.botao-compra i {
    color: var(--branco);
    background: none;
}

.preco {
    background-color: var(--azul-claro);
    padding: 5px;
    border-radius: 15px;
    width: 180px;
    color: var(--azul-escuro);
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sifrao {
    font-size: 25px;
}

.acabamento-titulo {
    font-size: 30px;
    font-weight: 500;
}

.titulo-qtd {
    font-size: 30px;
    font-weight: 500;
}

.acabamento {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.opcoes {
    display: flex;
    gap: 40px;
}

.troco {
    padding: 15px;
    color: var(--azul-principal);
    font-weight: light;
    border: 2px solid var(--azul-principal);
    border-radius: 10px;
}

.quantidade {
    display: flex;
    width: 150px;
    border-radius: 10px;
    border: 2px solid var(--azul-principal);
}

.add {
    background: none;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.numero {
    padding: 15px;
    width: 100px;
    text-align: center;
}

.menos {
    background: none;
    cursor: pointer;
    padding: 15px;
    border: none;
}


.detalhes {
    margin-bottom: 40px;
    display: flex;
    gap: 50px;
}

.descricao {
    margin-top: 40px;
}

.descricao-titulo {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--azul-escuro);
}

.descricao-1 {
    font-size: 20px;
    color: var(--azul-escuro);
}

.descricao-2 {
    font-size: 20px;
    color: var(--azul-escuro);
}

.descricao-3 {
    font-size: 20px;
    color: var(--azul-escuro);
}

.vendendo {
    margin-top: 20px;
    display: flex;
}

.vendido-por {
    font-weight: 500;
    font-size: 20px;
    color: var(--preto-opaco);
}

.samuel-silva {
    font-weight: 500;
    margin-left: 10px;
    font-size: 20px;
    color: var(--azul-principal);
}




.vendedor-detalhes {
    margin-left: 130px;
    margin-top: 40px;
    padding: 10px;
    width: 563px;
    border: 2px solid var(--preto-opaco);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icone {
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px solid var(--preto-opaco);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}