* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


:root {
    --preto-opaco: rgba(0, 0, 0, 0.304);
    --preto: #000000;
    --branco: #FFFFFF;
    --azul-principal: #008CFF;
    --azul-escuro: #00447C;
}

.botao-pesquisar {
    background-color: var(--azul-principal);
    border: none;
    padding: 7px 24px;
    cursor: pointer;
    margin-left: -77px;
    border-radius: 25px;
}

.fa-magnifying-glass {
    color: var(--branco);
}

.fa-circle-user {
    color: var(--branco);
    font-size: 2.5rem;
    cursor: pointer;
}

.fa-user {
    font-size: 31px;
}

.fa-cart-shopping {
    font-size: 31px;
}

.fa-bag-shopping {
    font-size: 31px;
}

.fa-dollar-sign {
    font-size: 31px;
}

.pesquisa {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}

.barra-pesquisar {
    display: flex;
    height: 2.5rem;
    padding: 15px;
    width: 22rem;
    border-radius: 25px;
    border: none;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    gap: 35px;
    margin-right: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto);
}

header img {
    max-width: 100%;
    height: auto;
}

.banner {
    margin-top: 26px;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 1460px;
}

.main {
    background-color: #ededed;
    margin-top: 30px;
    padding: 1px;
}

h1 {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.cards-container {
    background-color: var(--branco);
    display: none;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.criado-em {
    color: var(--preto-opaco);
    font-weight: normal;
    font-size: 18px;
}

.numero-info {
    font-weight: bold;
    font-size: 30px;
}

.icone {
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px solid var(--preto-opaco);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.informacoes {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.negrito {
    font-weight: bold;
    color: var(--preto);
}

.info-segmento-usuarios {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.info-segmento-vendas {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.info-segmento-produtos {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.info-segmento-cashback {
    align-items: center;
    display: flex;
    justify-content: space-between;
    ;
}

.info-titulo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-titulo p {
    font-size: 25px;
    color: var(--preto-opaco);
}

.ideiagenial {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
}

.detalhes-card {
    padding: 10px;
    width: 340px;
    display: flex;
    height: 150px;
    background-color: var(--branco);
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.incone i {
    font-size: 60px;
}

.incone {
    margin-left: 10px;
}

.dado-e-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gerenciar {
    color: var(--azul-principal);
    font-weight: bold;
    cursor: pointer;
}

.botoes {
    display: flex;
    margin-top: 23px;
    margin-bottom: 23px;
    justify-content: space-evenly;
}

.botao-gerenciar {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--branco);
    border: 2px solid var(--preto-opaco);
    display: flex;
    gap: 20px;
    padding: 15px 14px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--preto);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.botao-gerenciar i {
    color: var(--azul-principal);
}

.container-edicao {
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    background-color: var(--branco);
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.div-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.div-input {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    flex-direction: column;
}

.input-form {
    border: 2px solid var(--preto-opaco);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
    padding: 15px;
    width: 600px;
    height: 55px;
}

.select-acabamento {
    border: 2px solid var(--preto-opaco);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
    padding: 15px;
    width: 600px;
}

.select-marca {
    border: 2px solid var(--preto-opaco);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
    padding: 15px;
    width: 600px;
}

.text-area-descricao {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 17px;
    width: 600px;
    height: 355px;
    padding: 15px;
    ;
    border-radius: 5px;
    border: 2px solid var(--preto-opaco);
}

.foto {
    width: 630px;
    height: 405px;
    display: flex;
    padding: 5px;
    font-size: 15px;
    color: var(--preto-opaco);
    border-radius: 5px;
    border: 2px solid var(--preto-opaco);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto:hover {
    border: 2px solid var(--azul-principal);
}

.clique-aqui {
    color: var(--azul-principal);
    cursor: pointer;
    border: 0px 0px 2px 0px solid var(--azul-principal);
}

.fa-image {
    font-size: 100px;
    color: var(--preto-opaco);
}

.preco-e-fabricacao {
    display: flex;
    gap: 20px;
}

.input-form-preco {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 17px;
    border: 2px solid var(--preto-opaco);
    border-radius: 5px;
    padding: 15px;
    width: 630px;
    height: 55px;
}

.input-form-fabricacao {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 17px;
    width: 308px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--preto-opaco);
}

.label-coisa {
    font-size: 20px;
    font-weight: bold;
    color: var(--preto);
    background-color: white;
    padding: 5px;
    margin-left: 10px;
    margin-top: -15px;
    position: absolute;
    font-size: 15px;
}

.input-form:focus {
    border: 2px solid var(--azul-principal);
    outline: none;
}

.select-acabamento:focus {
    border: 2px solid var(--azul-principal);
    outline: none;
}

.select-marca:focus {
    border: 2px solid var(--azul-principal);
    outline: none;
}

.text-area-descricao:focus {
    border: 2px solid var(--azul-principal);
    outline: none;
}

.input-form-preco:focus {
    border: 2px solid var(--azul-principal);
    outline: none;
}

.div-nome:focus-within .label-coisa,
.div-acabamento:focus-within .label-coisa,
.div-marca:focus-within .label-coisa,
.div-descricao:focus-within .label-coisa,
.div-preco:focus-within .label-coisa,
.div-foto:focus-within .label-coisa {
    color: var(--azul-principal);
}

.div-nome:focus-within .input-form,
.div-acabamento:focus-within .select-acabamento,
.div-marca:focus-within .select-marca,
.div-descricao:focus-within .text-area-descricao,
.div-preco:focus-within .input-form-preco,
.div-foto:focus-within .foto {
    border-color: var(--azul-principal);
}

label {
    font-size: 20px;
    font-weight: bold;
    color: var(--preto);
}

.container-final {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.divbotoes {
    display: flex;
    gap: 20px;
}

.btn-enviar {
    background-color: var(--azul-principal);
    padding: 12px;
    width: 305px;
    color: var(--branco);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: var(--azul-escuro);
}

.btn-cancelar {
    background-color: #FFD0DC;
    padding: 10px;
    width: 305px;
    text-align: center;
    color: #E90039;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #E90039;
    cursor: pointer;
    text-decoration: none;
}

.btn-cancelar:hover {
    background-color: #E90039;
    color: #FFD0DC;
    border: 2px solid #E90039;
}

.swal2-confirm {
    background-color: var(--azul-principal);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 85px;
    border-radius: 5px;
}

.swal2-confirm:hover {
    background-color: var(--azul-escuro);
}

@media (max-width: 1440px) {
    .banner img {
        width: 1290px;
    }

    .botoes {
        justify-content: center;
        gap: 47px;
    }
}

@media (max-width: 1024px) {
    .banner img {
        width: 875px;
    }

    .informacoes {
        flex-wrap: wrap;
        gap: 55px;
    }

    .botao-gerenciar {
        font-size: 15px;
    }

    .botoes {
        gap: 1px;
    }

    .foto {
        width: 364px;
    }

    .input-form-fabricacao {
        width: 364px;
    }

    .input-form-preco {
        width: 364px;
    }

    .btn-enviar {
        font-size: 16px;
        width: 170px;
    }

    .btn-cancelar {
        font-size: 16px;
        width: 170px;
    }

    .preco-e-fabricacao {
        flex-direction: column;
        gap: 0px;
    }

    .div-container1 {
        margin-left: 165px;
    }

    .input-form {
        width: 400px;
    }

    .select-acabamento {
        width: 400px;
    }

    .select-marca {
        width: 400px;
    }

    .text-area-descricao {
        width: 400px;
        height: 308px;
    }
}

@media (max-width: 768px) {
    .informacoes {
        flex-wrap: wrap;
        gap: 62px;
    }

    .banner img {
        width: 615px;
    }

    .botoes {
        flex-wrap: wrap;
        gap: 60px;
    }

    .botao-gerenciar {
        font-size: 20px;
    }

    .cards-container {
        gap: 0px;
        align-items: center;
        flex-direction: column;
    }

    .div-container {
        flex-direction: column;
    }

    .foto {
        width: 400px;
    }

    .input-form-fabricacao {
        width: 400px;
    }

    .input-form-preco {
        width: 400px;
    }

    .divbotoes {
        gap: 60px;
    }
}

@media (max-width: 426px) {
    .container {
        display: flex;
        gap: 35px;
        height: 5rem;
        margin-right: 100px;
        align-items: center;
    }

    .banner {
        display: none;
    }

    h1 {
        margin-left: 50px;
        text-align: center;
    }

    .botoes {
        gap: 20px;
    }

    .container {
        margin-right: 0px;
    }

    .barra-pesquisar {
        width: 20rem;
    }

    header {
        flex-direction: column;
    }

    .cards-container {
        margin-left: 35px;
        margin-right: 35px;
    }

    .detalhes-card {
        width: 95%;
    }

    .ideiagenial {
        align-items: center;
    }

    .ideiagenial {
        align-items: center;
    }

    .botao-gerenciar {
        padding: 15px 55px;
    }

    .container-edicao {
        justify-content: normal;
        margin-left: 35px;
        margin-right: 35px;
    }

    .input-form {
        width: 290px;
    }

    .select-acabamento {
        width: 290px;
    }

    .select-marca {
        width: 290px;
    }

    .text-area-descricao {
        width: 290px;
    }

    .foto {
        width: 290px;
    }

    .input-form-fabricacao {
        width: 290px;
    }

    .input-form-preco {
        width: 290px;
    }

    .divbotoes {
        flex-direction: column;
        gap: 20px;
    }

    .btn-enviar {
        width: 290px;
    }

    .btn-cancelar {
        width: 290px;
    }
}

@media (max-width: 376px) {
    .barra-pesquisar {
        width: 16rem;
    }

    h1 {
        margin: 0;
    }

    .cards-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .container-edicao {
        margin-left: 10px;
        margin-right: 10px;
    }

    .input-form {
        width: 290px;
    }

    .select-acabamento {
        width: 290px;
    }

    .select-marca {
        width: 290px;
    }

    .text-area-descricao {
        width: 290px;
    }

    .foto {
        width: 290px;
    }

    .input-form-fabricacao {
        width: 290px;
    }

    .input-form-preco {
        width: 290px;
    }

    .btn-enviar {
        width: 290px;
    }

    .btn-cancelar {
        width: 290px;
    }

    .div-input label {
        font-size: 23px;
    }
}

@media (max-width: 321px) {
    .botao-pesquisar {
        margin-left: -50px;
        padding: 7px 10px;
    }

    .barra-pesquisar {
        width: 15rem;
    }

    .container {
        gap: 20px;
    }

    .usuario {
        flex-direction: column;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botao-gerenciar {
        padding: 15px 30px;
    }

    h1 {
        font-size: 25px;
        text-align: center;
    }

    .input-form {
        width: 240px;
    }

    .select-acabamento {
        width: 240px;
    }

    .select-marca {
        width: 240px;
    }

    .text-area-descricao {
        width: 240px;
    }

    .foto {
        width: 240px;
    }

    .input-form-fabricacao {
        width: 240px;
    }

    .input-form-preco {
        width: 240px;
    }

    .btn-enviar {
        width: 240px;
    }

    .btn-cancelar {
        width: 240px;
    }

    .incone {
        margin: 0;
    }

    .incone i {
        font-size: 50px;
    }

}