* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


:root {
    --preto-opaco: rgba(0, 0, 0, 0.304);
    --preto: #000000;
    --branco: #FFFFFF;
    --azul-principal: #008CFF;
    --azul-escuro: #00447C;
    --verde: #1AAC5F;
    --verde-claro: #D1FFE7;
}

.botao-pesquisar {
    background-color: var(--azul-principal);
    border: none;
    padding: 7px 24px;
    cursor: pointer;
    margin-left: -77px;
    border-radius: 25px;
}

.fa-magnifying-glass {
    color: var(--branco);
}

.fa-circle-user {
    color: var(--branco);
    font-size: 2.5rem;
    cursor: pointer;
}

.fa-user {
    font-size: 31px;
}

.fa-cart-shopping {
    font-size: 31px;
}

.fa-bag-shopping {
    font-size: 31px;
}

.fa-dollar-sign {
    font-size: 31px;
}

.pesquisa {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}

.barra-pesquisar {
    display: flex;
    height: 2.5rem;
    padding: 15px;
    width: 22rem;
    border-radius: 25px;
    border: none;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    gap: 35px;
    margin-right: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto);
}

header img {
    max-width: 100%;
    height: auto;
}

.banner {
    margin-top: 26px;
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 55px;
    margin-bottom: 10px;
    margin-left: 75px;
}

.cards-container {
    margin-right: 75px;
    margin-left: 75px;
    gap: 30px;
    padding: 30px;
    border: 2px solid var(--preto-opaco);
    border-radius: 10px;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.criado-em {
    color: var(--preto-opaco);
    font-weight: normal;
    font-size: 18px;
}

.numero-info {
    font-weight: bold;
}

.icone {
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px solid var(--preto-opaco);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.informacoes {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    gap: 160px;
}

.negrito {
    font-weight: bold;
    color: var(--preto);
}

.info-segmento-usuarios {
    margin-left: 40px;
}

.info-segmento-vendas {
    margin-left: 50px;
}

.info-segmento-produtos {
    margin-left: 39px;
}

.info-segmento-cashback {
    margin-left: 32px;
}

.info-titulo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-titulo p {
    font-size: 25px;
}

.gerenciar {
    color: var(--azul-principal);
    font-weight: bold;
    cursor: pointer;
}

.botoes {
    display: flex;
    margin-top: 23px;
    margin-bottom: 23px;
    justify-content: space-evenly;
}

.botao-gerenciar {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--branco);
    display: flex;
    gap: 10px;
    border: 2px solid var(--preto-opaco);
    padding: 15px 14px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--preto);
    align-items: center;
}

.botao-gerenciar i {
    color: var(--azul-principal);
}

.container-edicao {
    margin-right: 75px;
    margin-left: 75px;
    gap: 30px;
    display: flex;
    padding: 30px;
    border: 2px solid var(--preto-opaco);
    border-radius: 10px;
}

.foto {
    display: flex;
    width: 300px;
    height: 300px;
    border: 2px solid var(--preto-opaco);
    border-radius: 200px;
    justify-content: center;
    align-items: center;
}

.foto i {
    font-size: 125px;
}

.status {
    background-color: #1AAC5F;
    color: #D1FFE7;
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    width: 205px;
    font-weight: bold;
}

.container-login {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.div-input {
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    & label {
        font-size: 0.85rem;
        color: var(--preto);
        font-weight: 600;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        background: var(--cor-bg-sec);
        width: fit-content;
        transition: 0.3s;
        z-index: 1;
        padding: 0 4px;

        &.active {
            color: var(--preto-opaco);
            top: 0;
            font-size: 0.75rem;
            z-index: 3;
        }
    }

    & input {
        width: 100%;
        padding: 12px;
        font-size: 0.9rem;
        border: 2px var(--preto) solid;
        border-radius: 8px;
        outline: none;
        transition: 0.3s;
        background: transparent;
        z-index: 2;

        &:focus {
            border: 2px var(--azul-principal) solid;
        }
    }

    &:focus-within label {
        background-color: var(--branco);
        padding: 5px;
        color: var(--azul-principal);
        top: 0;
        font-size: 0.75rem;
        z-index: 3;
    }

    & i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        position: absolute;
        right: 20px;
        top: 54%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 99;
        font-size: 1.1rem;
        color: var(--preto-opaco);
    }
}