* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


:root {
    --preto-opaco: rgba(0, 0, 0, 0.304);
    --preto: #000000;
    --branco: #FFFFFF;
    --azul-principal: #008CFF;
    --azul-claro: #E5F3FF;
    --azul-escuro: #00447C;
    --verde: #1AAC5F;
    --verde-claro: #D1FFE7;
}

.botao-pesquisar {
    background-color: var(--azul-principal);
    border: none;
    padding: 7px 24px;
    cursor: pointer;
    margin-left: -77px;
    border-radius: 25px;
}

.fa-magnifying-glass {
    color: var(--branco);
}

.fa-circle-user {
    color: var(--branco);
    font-size: 2.5rem;
    cursor: pointer;
}

.fa-user {
    font-size: 31px;
}

.fa-cart-shopping {
    font-size: 31px;
}

.fa-bag-shopping {
    font-size: 31px;
}

.fa-dollar-sign {
    font-size: 31px;
}

.pesquisa {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}

.barra-pesquisar {
    display: flex;
    height: 2.5rem;
    padding: 15px;
    width: 22rem;
    border-radius: 25px;
    border: none;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    gap: 35px;
    margin-right: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto);
}

header img {
    max-width: 100%;
    height: auto;
}

.banner {
    margin-top: 26px;
    display: flex;
    justify-content: center;
}

.banner img {
    width: 1460px;
}

.main {
    background-color: #ededed;
    margin-top: 30px;
    padding: 1px;
}

h1 {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.cards-container {
    background-color: var(--branco);
    display: none;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.criado-em {
    color: var(--preto-opaco);
    font-weight: normal;
    font-size: 18px;
}

.numero-info {
    font-weight: bold;
    font-size: 30px;
}

.icone {
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px solid var(--preto-opaco);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.informacoes {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.negrito {
    font-weight: bold;
    color: var(--preto);
}

.info-segmento-usuarios {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.info-segmento-vendas {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.info-segmento-produtos {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.info-segmento-cashback {
    align-items: center;
    display: flex;
    justify-content: space-between;
    ;
}

.info-titulo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-titulo p {
    font-size: 25px;
    color: var(--preto-opaco);
}

.ideiagenial {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 25px;
}

.detalhes-card {
    padding: 10px;
    width: 340px;
    display: flex;
    height: 220px;
    background-color: var(--branco);
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.incone i {
    font-size: 60px;
}

.incone {
    margin-left: 10px;
}

.dado-e-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gerenciar {
    color: var(--azul-principal);
    font-weight: bold;
    cursor: pointer;
}

.botoes {
    display: flex;
    margin-top: 23px;
    margin-bottom: 23px;
    justify-content: space-evenly;
}

.botao-gerenciar {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--branco);
    border: 2px solid var(--preto-opaco);
    display: flex;
    gap: 20px;
    padding: 15px 14px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--preto);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.botao-gerenciar i {
    color: var(--azul-principal);
}

.titulo {
    margin-left: 30px;
    font-size: 33px;
    margin-bottom: 15px;
}

.qtd {
    font-size: 45px;
    margin-bottom: -15px;
}

.capital {
    font-size: 45px;
    margin-bottom: -15px;
}

.div-azul {
    margin-left: 30px;
    border-radius: 10px;
    height: 194px;
    width: 710px;
    padding: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--azul-claro);
    box-shadow: 0 10px 20px rgb(123, 168, 204);

}

.info-capital {
    margin-bottom: 115px;
}

.info-qtd {
    margin-bottom: 115px;
}

.div-verde {
    margin-right: 30px;
    border-radius: 10px;
    height: 194px;
    width: 710px;
    padding: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--verde-claro);
    box-shadow: 0 10px 20px rgb(128, 200, 165);
}

.informacoes-vendas {
    display: flex;
    justify-content: space-between;
}

.graficos-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.grafico-pizza {
    margin-top: 40px;
    margin-left: 30px;
    background-color: var(--branco);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 710px;
    height: 485px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.titulo-pizza {
    margin-top: 10px;
    margin-right: 320px;
    font-size: 25px;
}

.titulo-coluna {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
}

.grafico-coluna {
    margin-top: 40px;
    margin-right: 30px;
    border-radius: 10px;
    width: 710px;
    height: 485px;
    padding: 10px;
    background-color: var(--branco);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#Pizza {
    width: 410px !important;
    height: auto !important;
}

#Coluna {
    height: 410px !important;
}

.maiores-compradores {
    font-size: 25px;
}

.vendedores {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
    gap: 12px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--branco);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.vendedor-detalhes {
    padding: 10px;
    border: 2px solid var(--preto-opaco);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-vendedor {
    display: flex;
    gap: 865px;
}

@media (max-width: 1440px) {
    .banner img {
        width: 1290px;
    }

    .botoes {
        justify-content: center;
        gap: 47px;
    }
}

@media (max-width: 1024px) {
    .banner img {
        width: 875px;
    }

    .informacoes {
        flex-wrap: wrap;
        gap: 55px;
    }

    .botao-gerenciar {
        font-size: 15px;
    }

    .botoes {
        gap: 1px;
    }

    .informacoes-vendas {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .graficos-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .info-vendedor {
        gap: 385px;
    }

    .div-azul {
        width: 875px;
        margin: 0;
    }

    .div-verde {
        width: 875px;
        margin-right: 0;
    }

    .titulo-pizza {
        margin-right: 525px;
    }

    .grafico-pizza {
        width: 85%;
        height: auto;
        margin-left: 0;
    }

    #Pizza {
        width: 85% !important;
        height: auto !important;
    }

    .grafico-coluna {
        width: 85%;
        height: auto;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .informacoes {
        flex-wrap: wrap;
        gap: 62px;
    }

    .banner img {
        width: 615px;
    }

    .botoes {
        flex-wrap: wrap;
        gap: 60px;
    }

    .botao-gerenciar {
        font-size: 20px;
    }

    .cards-container {
        gap: 0px;
        align-items: center;
        flex-direction: column;
    }

    .info-vendedor {
        gap: 130px;
    }

    .div-azul {
        width: 615px;
        margin: 0;
    }

    .div-verde {
        width: 615px;
        margin-right: 0;
    }

    .titulo-pizza {
        margin-right: 320px;
    }

    .vendedores {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 426px) {
    .container {
        display: flex;
        gap: 35px;
        height: 5rem;
        margin-right: 100px;
        align-items: center;
    }

    .banner {
        display: none;
    }

    h1 {
        margin-left: 50px;
    }

    .botoes {
        gap: 20px;
    }

    .container {
        margin-right: 0px;
    }

    .barra-pesquisar {
        width: 20rem;
    }

    header {
        flex-direction: column;
    }

    .cards-container {
        margin-left: 35px;
        margin-right: 35px;
    }

    .botao-gerenciar {
        padding: 15px 55px;
    }

    .info-vendedor {
        gap: 0;
        flex-direction: column;
    }

    .div-azul {
        width: 350px;
        flex-direction: column;
        align-items: center;
    }

    .capital {
        font-size: 30px;
    }

    .info-capital {
        margin-bottom: 0;
    }

    .div-verde {
        width: 350px;
        flex-direction: column;
        align-items: center;
    }

    .info-qtd {
        margin-bottom: 0;
    }

    .qtd {
        font-size: 30px;
    }

    .titulo-pizza {
        margin-right: 0px;
    }

    #Pizza {
        width: 100% !important;
    }

    #Coluna {
        height: auto !important;
    }

    .vendedores {
        margin-left: 35px;
        margin-right: 35px;
    }

    .vendedor-detalhes {
        flex-direction: column;
        align-items: center;
    }

    .detalhes-card {
        width: 95%;
    }

    .ideiagenial {
        align-items: center;
    }
}

@media (max-width: 376px) {
    .barra-pesquisar {
        width: 16rem;
    }

    h1 {
        margin: 0;
        text-align: center;
    }

    .cards-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .div-azul {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 321px) {
    .botao-pesquisar {
        margin-left: -50px;
        padding: 7px 10px;
    }

    .barra-pesquisar {
        width: 15rem;
    }

    .container {
        gap: 20px;
    }

    .usuario {
        flex-direction: column;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botao-gerenciar {
        padding: 15px 30px;
    }

    h1 {
        font-size: 25px;
    }

    .titulo {
        text-align: center;
        margin: 0px;
    }

    .div-azul {
        width: 300px;
    }

    .div-verde {
        width: 300px;
    }

    .grafico-pizza {
        width: 95%;
    }

    .vendedores {
        margin-left: 15px;
        margin-right: 15px;
    }

    .incone {
        margin: 0;
    }

    .incone i {
        font-size: 50px;
    }
}